<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>


  <div th:replace="~{standarLayouts/head :: head1}">
  	AQUI DEBERIA SALIR EL head
  </div>

  <body>

  <div class="pb-5 pt-5 bg-dark text-light min-vw-100 min-vh-100">
  
    <div th:replace="~{standarLayouts/navbar :: navbar1}">
  		AQUI DEBERIA SALIR EL navbar
  	</div>
  	
    <section class="pb-5 pt-5 bg-dark text-light min-vw-100 min-vh-100">
      <div class="container">
        <div class="row text-center ">
          <div class="col-12 col-md-8 col-lg-7">
            <h3 class="fw-bold display-4 text-white" th:text = "#{html.providerView.title}">Provider view</h3>
          </div>
        </div>
        
       <div class="row pt-4">
          <div class="col-12">
             <div th:object="${provider}">
            
              <div class="row">
              
              <div class="col input-group mb-2">
				  <span class="input-group-text bg-secondary text-light" id="inputGroup-sizing-default">Id</span>
				  <input readonly th:value="${provider.id}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
              
              
				<div class="col input-group mb-2">
				  <span class="input-group-text bg-secondary text-light" id="inputGroup-sizing-default"  th:text= "#{html.providerX.input.text.name}"></span>
				  <input readonly th:value="${provider.name}" type="text" class="form-control" placeholder="Name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
				  th:placeholder="#{html.providerX.input.placeholder.name}" 
                  th:title="#{html.providerX.input.title.name}">
				</div>
             
				<div class="col input-group mb-2">
				  <span class="input-group-text bg-secondary text-light" id="inputGroup-sizing-default" th:text= "#{html.providerX.input.text.cif}"></span>
                  <input readonly th:value="${provider.cif}" type="text" class="form-control" th:placeholder="#{html.providerX.input.placeholder.cif}" 
                  th:title="#{html.providerX.input.title.cif}">
                  <!-- th:tooltip="#{html.providerView.input.tooltip.cif}"> -->
                </div>

				<div class="col input-group mb-2">
				  <span class="input-group-text bg-secondary text-light" id="inputGroup-sizing-default" th:text= "#{html.providerX.input.text.phone}"></span>
                  <input readonly th:value="${provider.phone}" type="text" class="form-control" 
                  th:placeholder="#{html.providerX.input.placeholder.phone}" 
                  th:title="#{html.providerX.input.title.phone}">
                </div>

              </div>

              <div class="row mt-4">
				<div class="input-group mb-2">
				  <span class="input-group-text bg-secondary text-light" id="inputGroup-sizing-default" th:text= "#{html.providerX.input.text.email}"></span>
                  <input readonly th:value="${provider.email}" type="text" class="form-control"  
                  th:placeholder="#{html.providerX.input.placeholder.email}" 
                  th:title="#{html.providerX.input.title.email}">
                </div>
                
                <div class="input-group mb-2">
				  <span class="input-group-text bg-secondary text-light" id="inputGroup-sizing-default" th:text= "#{html.providerX.input.text.nif}"></span>
                  <input readonly th:value="${provider.nif}" type="text" class="form-control"  
                  th:placeholder="#{html.providerX.input.placeholder.nif}" 
                  th:title="#{html.providerX.input.title.nif}">
                </div>
              </div>
              
             <!--  <div class="row mt-4">
                <div class="col">
                   	<div th:if="${customer.getCustomerContactList().size() != 0}">
					<p th:text="'This customer has following contacts:'">                   		
                   	<ul>
                   		<li th:each="customerContact : ${customer.getCustomerContactList()}"
                   			th:value="${customerContact.getId()}"
                   			th:text="${customerContact.getName()} + ' > ' 
                   				   + ${customerContact.getPhone()} + ' >> '
                   				   + ${customerContact.getObservations()}">                    		
                   		</li>
                   	</ul>
                   	</div> 
           	        <p th:unless="${customer.getCustomerContactList().size() != 0}"
                  		th:text="'This customer has not contacts'">
                   	</p>
                </div>     		              		
			  </div> -->

              <div class="row mt-4">
			    <div class="col text-center">
 	               <a type="button" th:href="@{/providerListGet}"
    	              class="btn btn-success w-100 btn-round mb-3 btn-rised">
        	          Back 
            	    </a>
            	</div>
              
                <div class="col text-center">
 	               <a type="button" th:href="@{/provider/deleteConfirmed/} + ${provider.getId()}"
    	              class="btn btn-danger w-100 btn-round mb-3 btn-rised">
        	          Delete 
            	    </a>
            	</div>
              </div>
                          
            </div>
          </div>
        </div>

      </div>

    </section>

    <div th:replace="~{standarLayouts/sectionCards :: sectionCards1}">
  		AQUI DEBERIA SALIR EL cover
  	</div>

    <div th:replace="~{standarLayouts/sectionFooter :: sectionFooter1}">
  		AQUI DEBERIA SALIR EL footer
  	</div>  	
  	
  	<div th:replace="~{standarLayouts/sectionMain :: sectionMain1}">
  		AQUI DEBERIA SALIR EL script
  	</div>

  </div>
  
  </body>

</html>