<!DOCTYPE html>
<html

 xmlns="http://www.w3,org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
 xmlns:sec="http://www.thymeLeaf.org/extras/spring-security"
>

   

  <div th:replace="~{standarLayouts/head :: head1}">
   AQUI DEBERIAMOS USAR EL HEAD
  </div>
  
    <nav th:replace="~{standarLayouts/navbar :: navbar1}">
           AQUI DEBERIA DE ALISR EL navbar
   </nav>

  <body>

    <section style="min-height: 100vh" class="pb-5 pt-5 bg-dark text-light">
      <div class="block pt-5 pb-5 text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10">

              <h4 class="mt-2 mb-2 text-white">
             
              Text Encryption
              </h4> <!-- el encryption es una inyecciòn del objeto encryption-->
             
              
              <div th:object="${encryption}" class="d-flex justify-content-center h-50">
              <!--  -->
                <span th:text="${encryption.textToEncrypt}" class="form-control  form-control mb-3"></span>
                <span th:text="${encryption.passwordEncoderString}" class="form-control  form-control mb-3"></span> 
                <span th:text="${encryption.textEncrypted}" class="form-control  form-control mb-3"></span>                                 
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

      <div th:replace="~{standarLayouts/sectionCards :: sectionCards1}">
   AQUI DEBERIAMOS USAR El sectionCards
  </div>
    
    <div th:replace="~{standarLayouts/sectionFooter :: sectionFooter1}">
   AQUI DEBERIAMOS USAR EL sectionFooter
  </div>

    <div th:replace="~{standarLayouts/script :: script1}">
           AQUI DEBERIA DE ALISR EL script
   </div>



  </body>

</html>