<!DOCTYPE html>
<html xmlns="http://www.w3,org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
	xmlns:sec="http://www.thymeLeaf.org/extras/spring-security">

<div th:replace="~{standarLayouts/head :: head1}">AQUI DEBERIAMOS
	USAR EL HEAD</div>

<body>

	<nav th:replace="~{standarLayouts/navbar :: navbar1}">AQUI
		DEBERIA DE ALISR EL navbar</nav>


	<section id="prices" class="pt-5 pb-5 bg-dark text-white">
		<div class="container">
			<div class="row w-100">
				<div class="col-lg-12 col-md-12 col-12">
					<h3 class="display-5 mb-2 text-white" th:text="#{html.customerList.title}"></h3>
					<!-- <p  th:text="${customerList}" class="mb-5"></p> -->
					
					
					<p class="mb-2" th:text="#{html.customerList.subTitle}"></p>
						<div>
						<a th:text="'Add'" role="button" class="btn btn-success mb-2"
						 th:href="@{/customer/addGet}">
									</a>
									</div>
					<div class="table-responsive bg-light">
						<table class="table   table-hover text-start text-dark">
							<thead class="">
								<tr class="bgd-gradient-blue  ">
									<th>Id</th>
									<th>Name</th>
									<th>Phone</th>
									<th>Contacts</th>
									<th class="text-primary">View</th>
									<th class="text-warning">Update</th>
									<th class="text-danger">Delete</th>
									
								</tr>
							</thead>
							<tbody>
								<tr th:each="customer : ${customerList}">
									<td th:text="${customer.getId()}"></td>
									<!-- thymeleaf si nos deja get los campos aunque sean private -->
									<td th:text="${customer.getName()}"></td>
									<td th:text="${customer.getPhone()}"></td>

									<td>
									<p th:unless="${customer.getCustomerContactList().size() !=0}" th:text="'This customer has no contacts'">
									</p>

										<ul th:if="${customer.getCustomerContactList().size() != 0}">
											<li
												th:each="customerContact : ${customer.getCustomerContactList()}"
												th:value="${customerContact.getId()}"
												th:text="${customerContact.getName()} + '>' + ${customerContact.getPhone()}  + '>>' + ${customerContact.getObservations()}">
												
										    </li>

										</ul>

									</td>
									<!-- referencia a en view a cada id específico -->
									<td> <a th:text="'View'" role="button" class="btn btn-primary" th:href="@{/customer/viewGet/} + ${customer.getId()}">
									</a>
									
									
									</td>
									
									<td><a th:text="'Update'" role="button" class="btn btn-warning" th:href="@{/customer/updateGet/} + ${customer.getId()}">
									</a>
									
									</td>
									
									<td>
									<!-- ESTA ES OTRA FORMA DE HACERLO<a   th:if="${customer.getCustomerContactList().size()> 0}"
									th:text="'Delete'" role="button" class="btn btn-danger" th:href="@{/customer/deleteGet/} + ${customer.getId()}" th:style="'pointer-events:none; color:grey;'">
									</a>
									
									<a   th:if="${customer.getCustomerContactList().size() <= 0}"
									th:text="'Delete'" role="button" class="btn btn-danger" th:href="@{/customer/deleteGet/} + ${customer.getId()}">
									</a>
									
									</td>
									-->
									
									
									 <button  th:if="${customer.getCustomerContactList().size() > 0}" disabled
									th:text="'Delete'" role="button" class="btn btn-danger">
									</button>
									
									<a  th:unless="${customer.getCustomerContactList().size() > 0}"
									th:text="'Delete'" role="button" class="btn btn-danger" th:href="@{/customer/deleteGet/} + ${customer.getId()}">
									</a>
									
									</td>
									
									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="~{standarLayouts/sectionCards :: sectionCards1}">
		AQUI DEBERIAMOS USAR El sectionCards</div>

	<div th:replace="~{standarLayouts/sectionFooter :: sectionFooter1}">
		AQUI DEBERIAMOS USAR EL sectionFooter</div>

	<div th:replace="~{standarLayouts/script :: script1}">AQUI
		DEBERIA DE ALISR EL script</div>

</body>

</html>