<!DOCTYPE html>
<html lang="en"

 xmlns="http://www.w3,org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
 xmlns:sec="http://www.thymeLeaf.org/extras/spring-security"
>

   

  <div th:replace="~{standarLayouts/head :: head1}">
   AQUI DEBERIAMOS USAR EL HEAD
  </div>

  <body>

    <nav th:replace="~{standarLayouts/navbar :: navbar1}">
           AQUI DEBERIA DE ALISR EL navbar
   </nav>


    <section class="pt-5 pb-5 d-flex bg-dark"  style="min-height: 100vh">
      <div class="container">
        <div class="row align-items-center justify-content-between ">
          <div class="col-12 col-md-4 ">
            <h1 class="mb-3 mt-5 fw-bold text-light" th:text="#{html.index.title}"></h1>
            <p class="lead text-light" th:text="#{html.index.subtitle}"></p>
            <div class="  d-flex mt-3 mb-1">
              <a class="btn btn-primary btn-raised    mt-md-3 " href="#"
                role="button">Download Now</a>
              <a class="btn btn-outline-secondary  mt-md-3 ms-md-3" th:href="@{/loginGet}"
                role="button" th:text="#{html.button.welcome}"></a>
            </div>
          </div>
          <div class="col-12 col-md-7   mt-4 mt-md-0">
            <div class="ratio ratio-16x9">
              <iframe class=""
                src="https://www.youtube.com/embed/rUciAUbZHf8?rel=0"
                allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="">
      <footer class="pt-4 pb-4  bg-dark text-light">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-8">
              <ul class="nav justify-content-center justify-content-md-start">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Terms</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-end">
              © 2021 Bootstraptor. All Rights Reserved
            </div>
          </div>
        </div>
      </footer>
      
    </section>
    <div th:replace="~{standarLayouts/script :: script1}">
           AQUI DEBERIA DE ALISR EL script
   </div>


  </body>

</html>