<!DOCTYPE html>
<html

 xmlns="http://www.w3,org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
 xmlns:sec="http://www.thymeLeaf.org/extras/spring-security"
>

  

  <div th:replace="~{standarLayouts/head :: head1}">
   AQUI DEBERIAMOS USAR EL HEAD
  </div>

  <body>
<!-- de esta forma el nav se va a replazar por el fragmento que hemos creado llamado navbar -->
   <nav th:replace="~{standarLayouts/navbar :: navbar1}">
           AQUI DEBERIA DE ALISR EL navbar
   </nav>

    <div th:replace="~{standarLayouts/sectionMain :: sectionMain1}">
   AQUI DEBERIAMOS USAR EL sectionMain
  </div>
    <div th:replace="~{standarLayouts/sectionCards :: sectionCards1}">
   AQUI DEBERIAMOS USAR El sectionCards
  </div>
    
    <div th:replace="~{standarLayouts/sectionFooter :: sectionFooter1}">
   AQUI DEBERIAMOS USAR EL sectionFooter
  </div>

    <div th:replace="~{standarLayouts/script :: script1}">
           AQUI DEBERIA DE ALISR EL script
   </div>


  </body>

</html>