<!DOCTYPE html>
<html

 xmlns="http://www.w3,org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
 xmlns:sec="http://www.thymeLeaf.org/extras/spring-security"
>

<!--th:fragment="navbar1 //es la forma de convertir esta parte de código en fragmento reutilizable con thymeleaf-->

    <nav th:fragment="navbar1" class="navbar navbar-expand-lg navbar-dark border border-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img th:src="@{/img/Eventixpro_recortado_5.jpg}" alt="UI Kit"
            style="width: 75px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ms-auto me-sm-2 mt-2 mt-lg-0">
            <li class="nav-item active me-3">
              <a class="nav-link"  th:href="@{/homeGet}">Home <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#">Our Work</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="#">Contacts</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Data
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{/customerListGet}">Customer</a>
                <a class="dropdown-item" th:href="@{/contactListGet}">Contacts</a>
                <a class="dropdown-item" href="#">Products and Services</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/dumpDBGet}">Dump DataBase</a>
              </div>
            </li>
              <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img class="rounded-circle u-box-shadow-sm me-2" width="25"
                  height="25" th:src="@{/img/lion.ico}"
                  alt="Htmlstream" th:text="${username} + ' '+' '"><i class="fa fa-angle-down   "></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Account Settings</a>
                <a class="dropdown-item" href="#">Newsletter</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logoutGet}">Sign Out</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </nav>

</html>