<!DOCTYPE html>
<html

 xmlns="http://www.w3,org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
 xmlns:sec="http://www.thymeLeaf.org/extras/spring-security"
>

  
    <section th:fragment="sectionMain1" class="pt-5 pb-1 mt-0 align-items-center d-flex bg-dark"
      style="min-height: 100vh; background-size: cover; background-image: url(&quot;https://images.unsplash.com/photo-1517216015940-049a2d4e2da4?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=14035a7d76df29c4697de036fcd005ce&quot;);">
      <div class="container-fluid">
        <div
          class="row  justify-content-center align-items-center d-flex-row text-center h-100">
          <div class="col-12 col-md-8  h-50 ">
            <div
              class="icon-wrap text-primary d-flex justify-content-center my-3">
              <button href="#"
                class="icon d-flex border-0 align-items-center justify-content-center bg-white text-dark  rounded-circle "
                style="width:70px; height:70px">
                <i class=" fas fa-play fa-lg ml-1"></i>
              </button>
            </div>
            <p class="text-white small text-uppercase mb-1 mt-5"
              style="letter-spacing: 1em;">Watch video</p>
            <h1 class="   text-white mb-2 mt-2">Cover section with video icon
            </h1>
            <p></p>
            <div class="btn-container-wrapper p-relative d-block  zindex-1">
              <a class="btn btn-outline-light border-0 btn-lg pr-2 pl-2 pt-3 pb-3  mt-md-5  scroll align-self-center  "
                href="#section-1">
                <i class="fa fa-angle-down fa-lg  "></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
</html>